* {
    font-family: 'Nunito', sans-serif;
}

li {
    list-style-type: none;
}

body {
    height: 100vh;
}

.section {
    height: calc(100% - 70px);
}

.border {
    border: 2px solid black;
    border-radius: 30px;
    height: 45px;
}


.button-1-type {
    background-color:#2a25c6 ;
    border-radius: 50px;
    font-size: 13px;
    margin: 3px;
    border: 0;
    color:white;
}

/* heigth settings */
.height {
    height: 70px;
}

.height-13 {
    height: 13%;
}

/* background settings */
.background-image {
    background-image: url(../img/sidebar-bg.png);
    background-color: #1a223e !important;
}

.background-color {
    background-color:#3d34f1;
}


/* width settings */
.width-12 {
    width: 12%;
}

/* @media screen and (max-width: 535px) {

    .media-order-1 {
        order: 1;
    }

    .media-order-2 {
        order: 2;
    }

    .media-order-3 {
        order: 3;
    } 
} */